<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dfz.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.dfz.entity.Goods">
    <id column="g_id" jdbcType="INTEGER" property="gId" />
    <result column="g_name" jdbcType="VARCHAR" property="gName" />
    <result column="g_price" jdbcType="FLOAT" property="gPrice" />
    <result column="g_common" jdbcType="VARCHAR" property="gCommon" />
    <result column="g_saw" jdbcType="VARCHAR" property="gSaw" />
    <result column="b_id" jdbcType="INTEGER" property="bId" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="grade_id" jdbcType="INTEGER" property="gradeId" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgUrl" />

  </resultMap>
  <resultMap id="Goods" type="com.dfz.entity.Goods">
    <id column="g_id" jdbcType="INTEGER" property="gId" />
    <result column="g_name" jdbcType="VARCHAR" property="gName" />
    <result column="g_price" jdbcType="FLOAT" property="gPrice" />
    <result column="g_common" jdbcType="VARCHAR" property="gCommon" />
    <result column="g_saw" jdbcType="VARCHAR" property="gSaw" />
    <result column="b_id" jdbcType="INTEGER" property="bId" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="grade_id" jdbcType="INTEGER" property="gradeId" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgUrl" />

    <collection property="size"
                javaType="java.util.ArrayList"
                resultMap="com.dfz.dao.SizeMapper.BaseResultMap">

    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    g_id, g_name, g_price, g_common, g_saw, b_id, flag
  </sql>

  <select id="findByGradeId" parameterType="int" resultMap="BaseResultMap">
     SELECT g_name,g_price,i.imgurl from t_goods g
     INNER JOIN t_img i
     on g.g_id=i.id
     where grade_id=#{gradeId}
  </select>
  <select id="findByGoodsId" parameterType="int" resultMap="Goods">
    SELECT * FROM t_goods g
      INNER JOIN goods_size gs
      on g.g_id=gs.g_id
      INNER JOIN t_size s
      on gs.s_id=s.s_id
      where g.g_id=#{goodsId}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_goods
    where g_id = #{gId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_goods
    where g_id = #{gId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dfz.entity.Goods">
    insert into t_goods (g_id, g_name, g_price, 
      g_common, g_saw, b_id, 
      flag)
    values (#{gId,jdbcType=INTEGER}, #{gName,jdbcType=VARCHAR}, #{gPrice,jdbcType=INTEGER}, 
      #{gCommon,jdbcType=VARCHAR}, #{gSaw,jdbcType=VARCHAR}, #{bId,jdbcType=INTEGER}, 
      #{flag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dfz.entity.Goods">
    insert into t_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gId != null">
        g_id,
      </if>
      <if test="gName != null">
        g_name,
      </if>
      <if test="gPrice != null">
        g_price,
      </if>
      <if test="gCommon != null">
        g_common,
      </if>
      <if test="gSaw != null">
        g_saw,
      </if>
      <if test="bId != null">
        b_id,
      </if>
      <if test="flag != null">
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gId != null">
        #{gId,jdbcType=INTEGER},
      </if>
      <if test="gName != null">
        #{gName,jdbcType=VARCHAR},
      </if>
      <if test="gPrice != null">
        #{gPrice,jdbcType=INTEGER},
      </if>
      <if test="gCommon != null">
        #{gCommon,jdbcType=VARCHAR},
      </if>
      <if test="gSaw != null">
        #{gSaw,jdbcType=VARCHAR},
      </if>
      <if test="bId != null">
        #{bId,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dfz.entity.Goods">
    update t_goods
    <set>
      <if test="gName != null">
        g_name = #{gName,jdbcType=VARCHAR},
      </if>
      <if test="gPrice != null">
        g_price = #{gPrice,jdbcType=INTEGER},
      </if>
      <if test="gCommon != null">
        g_common = #{gCommon,jdbcType=VARCHAR},
      </if>
      <if test="gSaw != null">
        g_saw = #{gSaw,jdbcType=VARCHAR},
      </if>
      <if test="bId != null">
        b_id = #{bId,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where g_id = #{gId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dfz.entity.Goods">
    update t_goods
    set g_name = #{gName,jdbcType=VARCHAR},
      g_price = #{gPrice,jdbcType=INTEGER},
      g_common = #{gCommon,jdbcType=VARCHAR},
      g_saw = #{gSaw,jdbcType=VARCHAR},
      b_id = #{bId,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER}
    where g_id = #{gId,jdbcType=INTEGER}
  </update>
</mapper>