<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dfz.dao.MyTrainMapper">
  <resultMap id="BaseResultMap" type="com.dfz.entity.MyTrain">
    <id column="mt_id" jdbcType="INTEGER" property="mtId" />
    <result column="mt_name" jdbcType="VARCHAR" property="mtName" />
    <result column="mt_info" jdbcType="VARCHAR" property="mtInfo" />
    <result column="mt_looptime" jdbcType="INTEGER" property="mtLooptime" />
    <result column="mt_times" jdbcType="INTEGER" property="mtTimes" />
    <result column="mt_flag" jdbcType="INTEGER" property="mtFlag" />
    <result column="mt_free" jdbcType="INTEGER" property="mtFree" />
    <result column="mt_imgpath" jdbcType="VARCHAR" property="mtImgpath" />
    <result column="mt_apparatus" jdbcType="VARCHAR" property="mtApparatus" />
    <result column="mt_hard" jdbcType="VARCHAR" property="mtHard" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.dfz.vo.TrainVo">
    <result column="mt_name" jdbcType="VARCHAR" property="mtName" />
    <result column="mt_info" jdbcType="VARCHAR" property="mtInfo" />
    <result column="mt_times" jdbcType="INTEGER" property="mtTimes" />
    <result column="mt_hard" jdbcType="VARCHAR" property="mtHard" />
    <result column="ta_part" jdbcType="VARCHAR" property="taPart" />
  </resultMap>
  <sql id="Base_Column_List">
    mt_id, mt_name, mt_info, mt_looptime, mt_times, mt_flag, mt_free, mt_imgpath, mt_apparatus
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_mytrain
    where mt_id = #{mtId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_mytrain
    where mt_id = #{mtId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dfz.entity.MyTrain">
    insert into t_mytrain (mt_id, mt_name, mt_info, 
      mt_looptime, mt_times, mt_flag, 
      mt_free, mt_imgpath, mt_apparatus
      )
    values (#{mtId,jdbcType=INTEGER}, #{mtName,jdbcType=VARCHAR}, #{mtInfo,jdbcType=VARCHAR}, 
      #{mtLooptime,jdbcType=INTEGER}, #{mtTimes,jdbcType=INTEGER}, #{mtFlag,jdbcType=INTEGER}, 
      #{mtFree,jdbcType=INTEGER}, #{mtImgpath,jdbcType=VARCHAR}, #{mtApparatus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dfz.entity.MyTrain">
    insert into t_mytrain
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mtId != null">
        mt_id,
      </if>
      <if test="mtName != null">
        mt_name,
      </if>
      <if test="mtInfo != null">
        mt_info,
      </if>
      <if test="mtLooptime != null">
        mt_looptime,
      </if>
      <if test="mtTimes != null">
        mt_times,
      </if>
      <if test="mtFlag != null">
        mt_flag,
      </if>
      <if test="mtFree != null">
        mt_free,
      </if>
      <if test="mtImgpath != null">
        mt_imgpath,
      </if>
      <if test="mtApparatus != null">
        mt_apparatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mtId != null">
        #{mtId,jdbcType=INTEGER},
      </if>
      <if test="mtName != null">
        #{mtName,jdbcType=VARCHAR},
      </if>
      <if test="mtInfo != null">
        #{mtInfo,jdbcType=VARCHAR},
      </if>
      <if test="mtLooptime != null">
        #{mtLooptime,jdbcType=INTEGER},
      </if>
      <if test="mtTimes != null">
        #{mtTimes,jdbcType=INTEGER},
      </if>
      <if test="mtFlag != null">
        #{mtFlag,jdbcType=INTEGER},
      </if>
      <if test="mtFree != null">
        #{mtFree,jdbcType=INTEGER},
      </if>
      <if test="mtImgpath != null">
        #{mtImgpath,jdbcType=VARCHAR},
      </if>
      <if test="mtApparatus != null">
        #{mtApparatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dfz.entity.MyTrain">
    update t_mytrain
    <set>
      <if test="mtName != null">
        mt_name = #{mtName,jdbcType=VARCHAR},
      </if>
      <if test="mtInfo != null">
        mt_info = #{mtInfo,jdbcType=VARCHAR},
      </if>
      <if test="mtLooptime != null">
        mt_looptime = #{mtLooptime,jdbcType=INTEGER},
      </if>
      <if test="mtTimes != null">
        mt_times = #{mtTimes,jdbcType=INTEGER},
      </if>
      <if test="mtFlag != null">
        mt_flag = #{mtFlag,jdbcType=INTEGER},
      </if>
      <if test="mtFree != null">
        mt_free = #{mtFree,jdbcType=INTEGER},
      </if>
      <if test="mtImgpath != null">
        mt_imgpath = #{mtImgpath,jdbcType=VARCHAR},
      </if>
      <if test="mtApparatus != null">
        mt_apparatus = #{mtApparatus,jdbcType=VARCHAR},
      </if>
    </set>
    where mt_id = #{mtId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dfz.entity.MyTrain">
    update t_mytrain
    set mt_name = #{mtName,jdbcType=VARCHAR},
      mt_info = #{mtInfo,jdbcType=VARCHAR},
      mt_looptime = #{mtLooptime,jdbcType=INTEGER},
      mt_times = #{mtTimes,jdbcType=INTEGER},
      mt_flag = #{mtFlag,jdbcType=INTEGER},
      mt_free = #{mtFree,jdbcType=INTEGER},
      mt_imgpath = #{mtImgpath,jdbcType=VARCHAR},
      mt_apparatus = #{mtApparatus,jdbcType=VARCHAR}
    where mt_id = #{mtId,jdbcType=INTEGER}
  </update>
  <select id="findMyTrainById" parameterType="int" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from t_mytrain tm
    INNER JOIN t_train_user tu
    on tm.mt_id=tu.mt_id
    where tu.d_id=#{uId}
  </select>
  <select id="findByCondition" parameterType="map" resultMap="BaseResultMap1">
    SELECT tm.mt_name,tm.mt_info,tm.mt_hard from t_mytrain tm
    INNER JOIN t_train_action tt
    on tm.mt_id=tt.mt_id
    INNER JOIN t_action ta
    on tt.ta_id=ta.ta_id
    where 1=1
    <if test="taPart!=null">
      and tm.ta_part=#{taPart}
    </if>
    <if test="mtTimes!=null">
      and tm.mt_times=#{mtTimes}
    </if>
    <if test="mtHard!=null">
      and ta.ta_part=#{mtHard}
    </if>
  </select>
</mapper>